{% extends "base.html" %}

{% block content %}

<div class="container">
    
    <h2>"{{ musteri.firma_adi }}" Cari Kartı</h2>
    
    {% if form %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
    </form>
    {% endif %}

    <div class="info-group">
        <strong>Firma Adı:</strong> {{ musteri.firma_adi }}
    </div>

    <div class="info-group">
        <strong>Yetkili Kişi:</strong> {{ musteri.yetkili_adi }}
    </div>

    <div class="info-group">
        <strong>Adres:</strong> {{ musteri.iletisim_bilgileri }}
    </div>

    <div class="info-group">
        <strong>Vergi Dairesi:</strong> {{ musteri.vergi_dairesi }}
    </div>

    <div class="info-group">
        <strong>Vergi No:</strong> {{ musteri.vergi_no }}
    </div>
        
    
        <div class="btn-container">
          
               
                    
        <a href="{{ url_for('firmalar.duzelt', id=musteri.id) }}" >Düzelt</a>
         &nbsp; | &nbsp; 
        <form action="{{ url_for('firmalar.sil', id=musteri.id) }}" method="POST" style="display:inline;">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="submit" class="btn-danger" value="Sil" onclick="return confirm('Bu müşteriyi silmek istediğinizden emin misiniz?')">
        </form>
          &nbsp; | &nbsp; 
          <a href="{{ url_for('firmalar.index') }}" >Geri Dön</a>
        </div>   
</div>

{% endblock %}